@()(implicit paths: controllers.CRUDerPaths)

@main("GranPa - Page") {
	
	<div class="centered">
		<ul class="menu">
			 <a href="/granpa" class="main">Granpa
    			<img src="@routes.Assets.at("images/abe.png")" />
    		</a>
			<a href="/father" class="main">Father
    			<img src="@routes.Assets.at("images/homer.png")" />
    		</a>
			 <a href="/son" class="main">Son
    			<img src="@routes.Assets.at("images/bart.png")" />
    		</a>
		</ul>
		
		<div>
			 <ul>
					<a href="@paths.create" class="main">
						<h3>Create New GRANPA!</h3>
					</a>
			</ul>					
		</div>
		
		<table id="granpa_table">
		<thead>
			<tr>
				<th>id</th>
				<th>name</th>
			</tr>
		</thead>
		<tbody></tbody>
		</table>
		
	</div>

	<script>
		$(document).ready(function() {

			//Using dataTable (jQuery plugin: http://datatables.net/)
			
			oTable = $("#granpa_table").dataTable({

				"iDisplayLength" : 20,
				"bProcessing" : true,
				"bAutoWidth" : false,
				"aaSorting" : [ [ 1, "asc" ] ],
				"fnRowCallback" : function(nRow, aData, iDisplayIndex) {
					$('td:eq(0)', nRow).html('<a href="@paths.edit/' + aData[0] + '">' + aData[1] + '</a>');
					return nRow;
				},
				"bServerSide" : true,
				"bJQueryUI" : true,
				"bRetrieve" : true,
				"sAjaxSource" : "@routes.GranpaController.table()",
				"aoColumnDefs" : [ {
					"bSearchable" : false,
					"bVisible" : false,
					"aTargets" : [ 0 ]
				}, {
					"sWidth" : "20%",
					"aTargets" : [ 1 ]
				} ]

			});

		})
	</script>
	
}