@()(implicit paths: controllers.CRUDerPaths)

@main("Son - Page") {
	
	<div class="centered">
	 @navigator()
	
	<div>
			 <ul>
					<a href="@paths.create" class="main">
						<h3>Create New SON!</h3>
					</a>
			</ul>					
		</div>
	
	<table id="son_table">
	<thead>
		<tr>
			<th>id</th>
			<th>name</th>
		</tr>
	</thead>
	<tbody></tbody>
	</table>
	
	</div>
	</div>
	<script>
		
		$(document).ready(function() {

			//Using dataTable (jQuery plugin: http://datatables.net/)

			oTable = $("#son_table").dataTable({

				"iDisplayLength" : 20,
				"bProcessing" : true,
				"bAutoWidth" : false,
				"aaSorting" : [ [ 1, "asc" ] ],
				"fnRowCallback" : function(nRow, aData, iDisplayIndex) {
					$('td:eq(0)', nRow).html('<a href="@paths.edit/' + aData[0] + '">' + aData[1] + '</a>');
					return nRow;
				},
				"bServerSide" : true,
				"bJQueryUI" : true,
				"bRetrieve" : true,
				"sAjaxSource" : "@routes.SonController.table()",
				"aoColumnDefs" : [ {
					"bSearchable" : false,
					"bVisible" : false,
					"aTargets" : [ 0 ]
				}, {
					"sWidth" : "20%",
					"aTargets" : [ 1 ]
				} ]

			});

		})
	
	</script>
	
}